$font-general : Helvetica, sans-serif
$color-general : #333

body
  font-family: $font-general
  color : $color-general
  background-color: whitesmoke
  margin : 0
  padding : 0

.tree-view
  padding: 10px

.tree-node
  .children
    padding-left: 20px
  .empty-children
    display: none
  .title
    text-transform: uppercase
